/*body{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #121213;
}


ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}
#banner{
    padding: 0;
    background-color: #27242b;
}

#historia{
    background-color: #414142ec;
    color: #c2bdbd;
}

#inicia{
    background-color: #27242b;
    color: #FFFFFF;
    margin: 0;
    padding: 1.5vw;
}

.pp1{
    margin-bottom: 0vw;
}

.the_witcher{
    background-color: #414142ec;
    color: #FFFFFF;
    margin: 0rem;
    padding: 3rem;
}
 .the_witcher3{
    margin: 0px;
    padding: 2rem;
 }


#geralt__img{
    background-color: #414142ec;

}

 --FOOTER--

.footer{
    background-color: #0f0f16;
    padding-left: 3rem;
    display: flex;
    flex-wrap: nowrap;
}

#gal{   
    background-color: #414142ec; 
    color: #FFFFFF;
}

#gal img{
    width: 100%;
}


#galeria{
    width: 100vh;
}

.contenedor_galeria{
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.1em;
}*/
/*---------------------------------------------ACA-------------------------------------------*/

header{
    background-color: #121213;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}

#banner{
    background-color: #121213;
}

#historia{
    background-image: url(../img/background__historia.jpg);
    color: #FFFFFF;
}

#tienda{
    background-image: url(../img/background__historia.jpg);
    color: #FFFFFF;
}

.footer{
    background-color: #0f0f16;
    padding-left: 3rem;
}

#inicia{
    background-color: #27242b;
    color: #FFFFFF;
    margin: 0px;

}

.the_witcher{
    background-color: #414142ec;
    color: #FFFFFF;
}
#geralt__img{
    background-image: url(../img/background__historia.jpg);
    color: #FFFFFF;
}

#gal{
    background-image: url(../img/background__historia.jpg);
    color: #FFFFFF;
}

#noticias{
    background-image: url(../img/background__historia.jpg);
    color: #FFFFFF;
}
/*-----------de aca para arriba funciona bien con el css---------------*/